@import url("./styles/reset.css");
@import url("./styles/temas.css");
/* Desta forma declaramos uma importação de fonte para a nossa página

 @font-face {
    font-family: "Unbounded";
    src: url("./fonts/Unbounded/Unbounded-VariableFont_wght.ttf")format("truetype");  Vamos buscar a localização da fonte e definir o formato
    
    font-weight: 700;  Vamos definir a espessura da fonte
    font-style: normal; Aqui vamos definir o estilo da fonte, sendo, italico, normal, negrito
    font-display: swap; esta propriedade faz com que, se caso a fonte não for carregada ela buscara uma fonte alternativa
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-Regular.ttf")format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */

:root {
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233EB;
    --offwhite-versao-dark: #ffffff;
    --grafite: #232323;
    --fundo-dark: #0E1014;    
    --fonte-poppins: "Poppins", sans-serif;
    --fonte-unbounded: "Unbounded", sans-serif;
}

body {
    width: 100vw;
    font-family: var(--fonte-poppins), sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: var(--offwhite-versao-dark);
    background-color: var(--fundo-dark);
    
}
 
/* Cabeçalho */

header {
    display: flex;
    justify-content: space-around;
    margin-top: 1.125em;
}

.cabecalho__btn-tema {
    cursor: pointer;
}

main {    
    margin-top: 1.5em;
}

/* Sessão conteúdo principal */

.conteudo-principal {   
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    text-align: center;    
}

h1 {
    font-size: 68px;
    font-weight: 700;
    
}

section h1 span {
    color: var(--roxo-destaque);
    font-family: var(--fonte-unbounded), sans-serif;  
    font-size: 60px;          
}

.conteudo-principal__paragrafo {
    width: 792px;
    padding: 1.2em 0;
    line-height: 1.5;
    text-align: center;
}

a {
    color: var(--offwhite-versao-dark);
    text-decoration: none;
}

.conteudo-principal__link {
    display: block;
    margin: 0 auto;
    font-weight: 600;
    background-color: var(--roxo-destaque);
    padding: .75em 1.5em;
    border-radius: 36px;
    margin-bottom: 1em;
}

.conteudo-principal__link:hover {
    background-color: var(--roxo-hover);
}

@media(max-width: 768px) {

    header img {
        align-items: center;
        margin: 60px 60px 71px 60px;
    }

    .conteudo-principal__paragrafo {
        width: 648px;        
    }

    .conteudo-principal img{

        width: 659.5px;

    }

}

@media(max-width: 375px) { 
    body {
        width: 95vw;
    }

    header img{
        margin: 32px 0 0 16px;

    }

    main {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 45px;           
    }   

    section h1 span {
        font-size: 40px;          
    }

    .conteudo-principal__paragrafo {
        font-size: 16px;
        width: 340px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    .conteudo-principal img{
        width: 340px;
        height: 230px;
    }
}